p {
  text-align:center;
  font-family:monospace;
  color:blue;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px inset blue;
}

.alot {
  margin: 10px;
  padding: 10px;
}
